@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.AvatarCard-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.Avatar {
    margin-right: 20px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05),
        0 1px 4px hsla(0, 0%, 0%, 0.05),
        0 2px 8px hsla(0, 0%, 0%, 0.05);
    font-family: 'Roboto', sans-serif;
}

.Avatart {
    padding-top: 10px;
    color: #189099;
}

.Avatarimg {
    height: 400px;
}

.Avatardesc {
    color: rgb(164, 166, 168);
}


.NaviImage {
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: max-content;
}

.Avatarcol3 {
    display: flex;
    flex-direction: row;
}

.Nav-desc {
    padding-top: 15px;
    justify-content: flex-start;
}

.Avatarcol4 {
    margin: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .AvatarCard-container {
        margin: 20px;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}